html {margin: 0px; padding:0px;}

.login-centered {
    margin: 10% auto;
    width: 300px;
    height: 300px !important;
    background-color: blue;
    border-radius: 15px;
}
#login {
    padding: 10px;
}
.boton-login {
    float: right;
    font-weight: bold;
}